<!DOCTYPE html>
<html>
<head>
<title>Hello Strapdown</title>
</head>

<body theme="compeng" onload="strapdownjs(window,document)">

<xmp style="display:none;">
# Markdown text goes in here

## Chapter 1

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua. 

## Chapter 2

Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
culpa qui officia deserunt mollit anim id est laborum.

	void drawtextui()
	{
		static SDL_Texture *tx[2] = {nullptr, nullptr};
		static int last_mouse_x=INT_MIN, last_mouse_y=INT_MIN;
		static SDL_Rect r[2] = {{5,5},{5,20}};
		SDL_Surface *sf;
		char buf[200];

		if(last_mouse_x != mouse_x){
			if(tx[0] != nullptr)
				SDL_DestroyTexture(tx[0]);

			sprintf(buf, "x: %d", mouse_x);
			sf = TTF_RenderText_Solid(font, buf, textcolor);
			tx[0] = SDL_CreateTextureFromSurface(renderer, sf);
			r[0].w = sf->w;
			r[0].h = sf->h;
			SDL_FreeSurface(sf);
			last_mouse_x = mouse_x;
		}
		SDL_RenderCopy(renderer, tx[0], NULL, &r[0]);

		if(last_mouse_y != mouse_y){
			if(tx[1] != nullptr)
				SDL_DestroyTexture(tx[1]);
			sprintf(buf, "y: %d", mouse_y);
			sf = TTF_RenderText_Solid(font, buf, textcolor);
			tx[1] = SDL_CreateTextureFromSurface(renderer, sf);
			r[1].w = sf->w;
			r[1].h = sf->h;
			SDL_FreeSurface(sf);
			last_mouse_y = mouse_y;
		}
		SDL_RenderCopy(renderer, tx[1], NULL, &r[1]);
	}
</xmp>

<div class="container">
<a href="admin.php">Login</a>
</div>

<script src="strapdown/v/blog/strapdown.js"></script>
</body>
</html>
